<FilesMatch ".+\.json$">
    CacheQuickHandler off
    CacheEnable disk
    CacheHeader on

    Header merge Cache-Control public
    FileETag All
</FilesMatch>

<FilesMatch "clubs\.json$">
    ExpiresActive on
    ExpiresDefault "modified plus 1 months"
</FilesMatch>
