<FilesMatch ".+\.json$">
    # CacheQuickHandler off
    # CacheEnable disk
    # CacheHeader on

    Header merge Cache-Control public
    FileETag All
</FilesMatch>

<FilesMatch ".+clubs\.json$">
    # Header set X-test "hoooop"
    # ExpiresActive on
    # ExpiresDefault "modified plus 2 months"
</FilesMatch ".+clubs\.json$">
